/* RESET CSS */
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--body-bg);
    background-color: var(--body-color);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 90px;
}
:root {
    --main-color: #333; /*colorHeader*/
    --body-bg: #FAFAFA; /*body-bg-light*/
    --body-color: #555; /*body-bg-dark*/
    --link-color: #333; /*linkColordark*/
    --link-color-hover: #EC5840; /*linkHover*/
    --main-color-light: rgb(106, 105, 105); /*hover-btn*/
}

a {
    color: rgb(47, 143, 199);
}

@media (min-width: 992px) {
    body {
        margin-top: 120px;
    }
}


/* HEADER */
.header {
    /* x, y, Blur, rgba */
    box-shadow: 0 3px 4px rgba(0, 0, 0, .21);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background: #333;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: inherit;
    padding: 12px ;
}
.menu-container {
    display: flex;
    align-items: center;
}

.title-torcedor {
    text-align: center;
}

#btn-cart {
    font-size: 30px;
    background: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-bg);
    position: relative;
    cursor: pointer;
}

.logo {
    color: #000;
}
.badge { /*Classe padrão da medalha para aparecer em tela*/
    background: #333;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: var(--body-bg);
    border: 1px solid var(--body-bg);
    border-radius: 100%;
    display: none; /*Ocultar a medalha*/
    justify-content: center;
    align-items: center;
    right: 5px;
    bottom: 5px;
    /* top: 20px;
    left: 20px; */
    position: absolute;
}
.badge-show { /*Classe para atualização do elemento medalha*/
    display: flex; /*Exibe a medalha*/
}

@media (min-width: 992px) {
    .header .logo {
        width: 120px; /* antes tava auto porém ao chegar na tela 992px ele perde a ponta */
        height: 100px;
    }
}



/* CONTAINER */
.container {
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

/* TITLES */
h1 {
    text-align: center;
    margin: 30px 0px 15px;
    font-weight: 600;
    font-size: 36px;
}

h2, .h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--body-bg);
    
}

/* CARD */
.card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    border-radius: 5px;
    overflow: hidden;
    /* width: 196px;
    height: 370px; */
    display: flex;
    flex-direction: column;
}
    

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-content .btn {
    margin-top: auto;
}

/* PRICE */
.price {
    font-weight: 600;
    color: #37C957;
    margin-bottom: 5px;
    font-size: 14px;
}

/* BUTTON */
.btn {
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
    color: #424242;
    padding: 9px 15px;
    transition: all 0.3s linear;
    text-decoration: none;
    display: block;
}

.btn-main {
    background-color: var(--main-color);
    border: 1px solid var(--main-color); /*Necessários para os dois btn ficarem do mesmo tam*/
    color: #FFF;
}
.btn-main:hover {
    background-color: var(--main-color-light);
    border-color: var(--main-color-light);
}

.btn-main-outline {
    background-color: transparent;
    border: 1px solid #FFF; /*Necessários para os dois btn ficarem do mesmo tam*/
    color: #FFF;
}
.btn-main-outline:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color); /*Necessários para os dois btn ficarem do mesmo tam*/
    color: #FFF;
}

.btn-block {
    width: 100%;
}

/* PRODUCTS GRID */
.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 16px;
}
/* Animação do loading */
.loading-products { 
    display: block;
    text-align: center;
    color: #999;
    font-size: 30px;
    margin: 30px 0;
    animation: loading 1s linear infinite; /*nome tempo tipo infinito*/
}
@keyframes loading { /*passamos um parâmetro com um nome que nesse caso é loading e chamamos ela acima*/
    0% {
        transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);  
    }
}
 
@media (min-width: 576px) {
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .products-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* FOOTER */
.footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    margin-top: 50px;
    padding: 30px 0px;
    font-weight: 600;
}

.footer p {
    margin-bottom: 12px;
}

.footer a {
    color: inherit;
    font-size: 24px;
    text-decoration: none;
}

.footer .fa-whatsapp-square {
    color: #26D367;
    font-size: 44px;
    vertical-align: middle;
    margin-right: 14px;
}

@media (min-width: 768px) {
   .footer {
       display: flex;
       justify-content: center;
       align-items: center;
   } 
   .footer p {
       margin-right: 40px;
       margin-bottom: 0;
   }
}

/* CART */
.cart-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /*Ocupar 100% vw largura*/
    height: 100vh; /*Ocupar 100% vh altura*/
    background-color: var(--body-color); /*body-bg-color*/
    padding: 15px; /*Respiro*/
    /* display: flex; Alinhar flex um ao lado do outro sempre por na div pai para os filhos herdar */
    display: none;
    flex-direction: column; /*Alinhar verticamlente*/
}
.cart-sidebar-open { /*ClassJS -> abrir cart-sidebar*/
    display: flex; /*Usando o flex no lugar do none*/
}

#btn-close-cart {
    color: var(--body-bg); /*corBotaoFechar*/
    background-color: transparent; /*fundoTransparante*/
    font-size: 30px; /*tamanho*/
    padding: 5px; /*tamanho do conteúdo*/
    align-self: flex-end; /*Devido a herdar sua posicao, aplicamos alinhamento proprio no elemento*/
    cursor: pointer;    
}

#empty-cart {
    display: none; /*Alinha deixa um do lado do outro os el*/
    flex-direction: column; /*tipo coluna alinha verticalmente*/
    justify-content: center; /* alinhar vertical*/
    align-items: center; /*alinhar horizonal, combinado com o de cima deixa no centro da tela*/
    flex-grow: 1; /*Informa caso tenha espaço na div cresca, para assim alinhar verticaemtne*/
    
}
#empty-cart.empty-cart-show {
    display: flex;
}

#empty-cart .fa-suitcase-rolling {
    color: var(--body-bg); /*sacolaVazia cor*/
    opacity: 0.2; /*Nivel de transparência*/
    font-size: 154px; /*Tamanho devido a ele ser uma icone de fonts <i>*/
    margin-bottom: 25px; /*Margin empurrar os itens abaixi dele*/
}
#cart-with-products { /*div aside*/
    overflow: auto; /*Aplicar scroll caso a lista fique grande*/
    display: none;
}
#cart-with-products.cart-with-products-show {
    display: block;
}
#cart-with-products ul {
    list-style: none; /*por ser uma <ul> ele já vem com estilos aqui removemos*/
}

#cart-with-products .btn-main-outline { /*acessamos o btn-outline para dar uma margin abaixo para seperar os botões*/
    margin-bottom: 12px;
}

.cart-item { /*Pai de todos os intens do carrinho*/
    display: grid; /*todos os elementos dentro dele viram colunas*/
    grid-template-columns: auto 1fr auto auto; /*1Column-auto: de acordo com altura no caso da img, 2column-1fr: muda de acordo com tam da tela do usuário no caso <p>, 3column-auto: tam do próprio input, 4column-auto: tam do própio buttom*/ 
    gap: 12px; /*Alinhar entre as colunsa espaços*/
    border-bottom: 1px solid #EAEAEA;
    padding: 12px 0; /*padding 12px no top/bottom e right/left 0*/
}
.cart-item img {
    object-fit: cover; /*Por default vem como fill(preenche todos os espaços), contain (redimensiona a img para caber dentro), cover (redimensiona matem proporção e cobre todos os espaços em branco)*/
    border-radius: 5px; /*Arrendondar a borda*/
}

.cart-item input { /*Meu input do carrinho qtd de pedido*/
    width: 68px; /*largura figma*/
    height: 38px; /*altura figma*/
    align-self: center; /*alinhe vc mesmo no centro*/
}

.cart-item button { /*lixeira do resumo do pedido*/
    color: var(--body-bg);
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex; /*Alinhar os itens de dentro*/
    justify-content: center; /*Alinhar no centro horizontal*/
    align-items: center; /*Alinhar no centro na vertical*/
    background: transparent; /*Transparente devido ao icone do fontawesome*/
    align-self: center; /*Alinhe vc mesmo no centro*/
}

.cart-total {
    display: flex; /*Aplicamos o flex para o filhos <div> ficarem um ao lado do outro*/
    justify-content: space-between; /*alinha o espaço entre eles empurrando um para cada ponta*/
    align-items: center; /*Alinha ao centro da div atenção o h2 continha margin-bottom por isso vamos zerar a margin dele*/
    padding: 12px 0; /*Crecesmo o conteúdo para cima e baixo para empurrar meu cart-total*/
}

.cart-total .h2 { /*Devido nossa class h2 estar estilizada com margin-bottom:8px devemos retirar a margin aqui para pode alinhar os elemntos*/
    margin: 0; /*Após removemos agora sim o Total está alinhado com o price-total*/
}

.cart-total p:not(.h2) { /*do elemnto pai selecionamos o filho p que não contenha a classe h2 e estilizamos*/
    font-size: 18px;
    font-weight: 600; /*poderiamos usar o seletor acima também com o last-child() assim seria o ultimo filho <p>*/
    color: #37C957;
}

@media (min-width: 768px) { /*Tamanho de um iPad em pé*/
    .cart-sidebar { /*class da tag aside todo modal-carrinho*/
        width: 428px; /*largura para responsivo*/
        right: 0; /*para o modal abrir na direita*/
        left: auto; /*o left tem prioridade sobre o right para o righ se aplicado precisamos setar o left auto*/
        box-shadow: -3px 0 6px rgba(0, 0, 0, .25); /*x y blur rgba(r g b a)*/
    }
}


/* FORMS */
.form-input {
    border: 1px solid #CED4DA; /*nosso input*/
    border-radius: 4px; /*arrendondar*/
    font-size: 16px; /*font do nosso input 16px de acordo com o figma, mesmo tamanaho do corpo do texto*/
    padding: 9px; /*No figma nosso inpute tem tam 38 fazemos as contas (bord-1x2,pad-9x2,conteudo-18= total 38*/
}
.form-input::placeholder, /*seletorEspecial padrão*/
.form-input::-ms-input-placeholder, /*NavegorAntigo IE*/
.form-input:-ms-input-placeholder { /*Nevegador Edge*/
    color: #999999;
    opacity: 1; /*Negador Mz pois ele aplica um opacity parão dele*/
}
.form-group {
    margin-bottom: 12px;
}
.form-group label {
    display: block; /*block para fazer ocupar a linha inteira cada div assim jogando para baixo a outra div*/
}
.form-group .form-input {
    width: 100%;
}
.form-checkout { /*div pai do forms*/
    max-width: 424px; /*tamanho máximo*/
    margin-left: auto; /*centralizar conteudo poderia ser margin-left auto e margin-right auto quando e elemento é display block por padrao*/
    margin-right: auto;
    margin-bottom: 50px; /*Respiro para o rodapé*/
}
.form-row { /*div pai do form-group de numero,complemento*/
   display: grid; /*informar que queremos que os filhos dele sejam grid*/
   grid-template-columns: 1fr 1fr; /*fracao por coluna dois cards*/
   gap: 12px; /*espaço entre as colunas*/
}

/* ALERTS */
.alert-error {
    background-color: #f7b8b8;
    border: 1px solid #c91212;
    border-radius: 3px; /*arrendondar*/
    padding: 10px 15px; /*espaço entre a borda e o texto 10px heigh 15px width*/
    color: #8e0808;
}